@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
    background: #000;
}

nav {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 8rem;
    color: white;
    background-color: #1f1f1f;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

nav div {
    display: inline-block;
}

#menu, #pro, #watchList1, #signIn {
    border-radius: .3rem;
    padding: 1.5rem;
    font-size: 1.5rem;
}

nav div:hover {
    background-color: #323232;
}

#text {
    position: relative;
    bottom: .7rem;
    vertical-align: bottom;
}

#logoMenu {
    width: 6rem;
    height: 3.1rem;
    padding: .5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-top: 1.4rem;
}

.logo {
    width: 20rem;
    height: 3vw;
    margin-top: 3px;
}

#customSearchBar {
    width: 45%;
    background-color: white;
    color: #1d1d1d;
    height: 3.5rem;
    border-radius: .5rem;
    margin-top: 1.4rem;
    overflow: hidden;
    vertical-align: center;
}

select {
    border: none;
    border-right: 1px solid #989898;
    height: 4rem;
    position: relative;
    top: -.3rem;
}

#custom-select {
    margin: 0;
    vertical-align: center;
}

.fas.fa-search {
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: #989898;
}

#searchBar {
    width: 77%;
    height: 3.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    vertical-align: center;
}

select, option {
    font-weight: bold;
}

#line {
    border: 1px solid #989898;
    width: 2px;
    height: 3.2rem;
    margin-top: 1.4rem;
    opacity: 0.16;
}

svg {
    vertical-align: baseline;
}

#container{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #1f1f1f;
    z-index: 100;
    position: absolute;
    top: -105vh;
    transition-duration: .7s;
}

#container i {
    color: #23b5b5;
    position: relative;
    left: -2rem;
}

#top {
    padding-right: 20%;
    padding-left: 15%;
}

#logoMenu {
    width: 7%;
    height: 5%;
    font-size: 2rem;
    float: left;
    padding: 0;
    margin-top: 2%;
}

#exit {
    margin-top: 3.5rem;
    color: #23b5b5;
}

#exit {
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    font-size: 3.5rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    float: right;
}

#genre {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 105vh;
    color: white;
}

#genre a {
    text-decoration-line: none;
    color: white;
    line-height: 2.9rem;
    font-size: 1.6rem;
}

#genre h1 {
    position: relative;
    left: -3.8rem;
    margin-bottom: 1rem;
    font-size: 1.5em;
}

#genre h1 i {
    font-size: 2.4rem;
}

#firstRow, #secondRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

ul li {
    list-style-type: none;
}

/*carrousel*/
.container-carousel {
    width: 95%;
    margin: 8rem auto;
}

#title-carousel {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: justify;
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-inner {
    width: 92%;
    overflow: hidden;
}

/*les barres de défilement*/
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    opacity:1;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: opacity .6s ease;
}

#manga1, #manga2, #manga3 {
    height: 273px;
}

/* 2 carousel*/
.synopsis-container {
    float: left;
    width: 53%;
    padding-left: 3rem;
    color: #23b5b5;
    text-align: left;
}

/*titre manga*/
.synopsis-container h2 {
    font-style: italic;
}

/*synopsis*/
#title-carsl {
    margin-top: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: justify;
}

.carousel-fade .carousel-item.active {
    z-index: 10;
    opacity: 1;
    padding: 2rem;
}

/*les barres de défilement*/
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 7px;
    left: 0;
    z-index: 20;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    opacity: 1;
}

/*frise*/
#friseImg {
    display: flex;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 13rem;
}

/*links and author site :) */
#links {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    right: 0;
    color:#1f1f1f ;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 48px;
}

#links i, #links span {
    margin-top: 11px;
}

.synopsis-container, .synopsis-image {
    display: inline-block;
    width: 49%;
    margin-right: 10px;
}

#carouselSynopsis {
    display: flex;
    justify-content: center;
}

.carousel-control-prev-icon {
    margin-left: -20rem;
}

.carousel-control-next-icon {
    margin-right:  -20rem;
}

